
.icon-book:before { content: '\e800'; } /* '' */
.icon-book-open:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-wallet:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */